* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #fdf7f7;
}
.navbar {
  border-bottom: 1px solid #eee;
}
.navbar .dropdown-toggle::after {
  display: none !important;
}
